html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.welcome-container {
  background: linear-gradient(to bottom, #808080, #ADD8E6, #FFFF00);
  height: 100vh; /* Set the container's height to cover the viewport vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.welcome-image {
  width: 100px;
  height: auto;
}
